---
layout: default
---

<div class="wrapper">
  <div class="home">
    <h1 class="title">ALY <span class="callout">FLUCKEY</span></h1>
    <p>
      With almost 15 years of experience spanning frontend engineering, UX
      collaboration, and cross-functional project delivery, I am driven by
      creating products that genuinely serve users.
    </p>

    <p>
      I excel at partnering with stakeholders to define direction, break down
      complexity, and translate goals into accessible, scalable solutions.
    </p>

    <p>
      Passionate about thoughtful design systems and intuitive interfaces,
      I focus on helping teams move faster and create consistent, inclusive experiences.
    </p>

    <p>
      I am known for a collaborative leadership style that empowers teams,
      improves workflows, and drives successful outcomes.
    </p>

  </div>

  <div class="contact">
    <a
      href="mailto:fluckeya@gmail.com?subject=Hello!%20%F0%9F%91%8B&body=Please%20write%20your%20message%20here"
    >
      <span
        class="icon tooltip"
        data-tooltip="Email me!"
        aria-label="Email me!"
      >
        {% include email.svg %}
      </span>
    </a>

    <a href="https://github.com/wtfluckey" target="_blank">
      <span
        class="icon tooltip"
        data-tooltip="Peep my code!"
        aria-label="Check out my code on Github"
      >
        {% include github.svg %}
      </span>
    </a>

    <a
      href="https://www.linkedin.com/in/alyfluckey"
      target="_blank"
      aria-label="Check out my LinkedIn page"
    >
      <span class="icon tooltip" data-tooltip="Follow me!">
        {% include linkedin.svg %}
      </span>
    </a>

    <button
      aria-label="Toggle rainbow time. Rainbow time changes the color of my name and adds an animated rainbow border around the page.
        These changes are purely presentational and do not affect the functionality of the website."
    >
      <span
        class="icon rainbow tooltip"
        id="cue-rainbow-time"
        data-tooltip="Toggle rainbow time! 🌈"
      >
        {% include rainbow.svg %}
      </span>
    </button>
  </div>
</div>

<script>
  document
    .getElementById("cue-rainbow-time")
    .addEventListener("click", function () {
      document.body.classList.toggle("rainbow-time");
    });
</script>
