<article class="project">
  <div class="project-content">
    <h5 class="project-time">{{ include.time }}</h5>
    <h2>{{ include.title }}</h2>
    <div class="project-description">
      <p>
        {{ include.description1 }}
      </p>
      <p>
        {{ include.description2 }}
      </p>
    </div>
    <ul class="project-tech">
      <li>
        <a href="{{ include.tech1Link }}" target="_blank">
          {{ include.tech1}}
        </a>
      </li>
      <li>
        <a href="{{ include.tech2Link }}" target="_blank">
          {{ include.tech2}}
        </a>
      </li>
      <li>
        <a href="{{ include.tech3Link }}" target="_blank">
          {{ include.tech3}}
        </a>
      </li>
      <li>
        <a href="{{ include.tech4Link }}" target="_blank">
          {{ include.tech4}}
        </a>
      </li>
    </ul>
    <a class="project-external-link" href="{{ include.externalLink }}" target="_blank">
      <i class="fas fa-external-link-alt"></i>
    </a>
  </div>
  <div class="project-image">
    <img src="{{ site.baseurl }}/assets/{{ include.image }}"/>
  </div>
</article>