.header {
  border-top: 8px solid $borderColor;
}

.footer {
  border-bottom: 8px solid $borderColor;
  padding: $spacing-unit 0;
}

.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  margin-left: 0;

  @include media-query($on-palm) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.title {
  font-weight: 900;
  font-size: 36px;
  @include media-query($on-laptop) {
    font-size: 48px;
  }
}

.name {
  color: $nameColor;
}
